* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background: #e8d8fd;
}
h1,
h2 {
  font-family: Lato;
  padding: 0.2em;
}

header {
  background-color: #3b45a3;
  color: white;
  padding: 0.2em;
  text-align: center;
  box-shadow: 0px 1px 12px 0px grey;
}

header h2 {
  margin: 1em 0;
}
main {
  padding: 2%;
}

.set-card {
  padding: 2em;
  margin: 1em auto;
  font-family: Lato;
  text-align: center;
  background-color: rgb(255 255 255);
  box-shadow: 0px 0px 4px 0px rgb(156 156 156);
}

.card-container {
  perspective: 1000px;
  background: transparent;
}

.word-card-container {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.word-card-container .front,
.word-card-container .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.word-card-container .back {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.word-card {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  background: white;
  background-image: linear-gradient(45deg, #3b45a3, #ff4e72);
  color: white;
  box-shadow: 1px 1px 15px 0px #c5c5c5;
  padding-top: 1.5em;
  border-radius: 20px;
}

.word-card h2 {
  font-family: Lato;
  font-size: 2.5em;
  padding: 1.5em;
}

.word-card .back h2 {
  padding: 0.5em;
}

.word-card p {
  padding: 1em;
  font-style: italic;
}

.word-card .back p {
  padding: 0;
  font-style: normal;
}

.word-card p#meaning {
  margin: 1.5em;
  font-size: 1.3em;
  font-family: "Lato";
}

.word-card p#question {
  padding: 0.5em;
  font-style: italic;
}

.word-card .card-help {
  background: #dedede;
  border-radius: 0% 0% 18px 18px;
}

.word-card .card-help p {
  padding: 1em;
}

.word-card .button {
  border-bottom: 1px solid grey;
  padding: 1em;
  text-transform: capitalize;
  transform: rotateY(180deg);
  background: #241568;
}

.word-card .button:last-child {
  border: none;
  background: #3b45a3;
  border-radius: 0% 0% 18px 18px;
}

.back-btn {
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .set-card {
    max-width: 95%;
  }

  .word-card {
    max-width: 95%;
  }

  header h2 {
    margin: 0.5em 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header h2 {
    margin: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .set-card {
    max-width: 750px;
  }
}
